{% extends "base.html" %}

{% block footer %}
  {{ super() }}

  <div class="md-footer-meta ">
    <div class="md-footer-meta__inner">

      <!-- Custom line ABOVE copyright -->
      <div class="md-footer-copyright" style="margin-bottom: 6px;">
        <blockquote>
        <p>The <a href="https://codingismeditation.github.io/">codingismeditation.github.io</a>, authored by <a href="https://github.com/kintsugi-programmer">Kintsugi-Programmer</a>, is less a comprehensive resource and more an Artifact of Continuous Research and Deep Inquiry into Computer Science and Software Engineering. It serves as a transparent ledger of the author&#39;s relentless pursuit of mastery, from the foundational algorithms to modern full-stack implementation.</p>
        <blockquote>
        <p>Made with 💚 <a href="https://github.com/kintsugi-programmer">Kintsugi-Programmer</a></p>
        </blockquote>
        </blockquote>
      </div>

    </div>
  </div>
{% endblock %}
