[submodule "docs/exploration/fastapi"]
	path = docs/exploration/fastapi
	url = https://github.com/kintsugi-programmer/kintsugi-stack-fastapi
[submodule "docs/exploration/bun"]
	path = docs/exploration/bun
	url = https://github.com/kintsugi-programmer/kintsugi-stack-bun.git
[submodule "docs/tech-current-affairs"]
	path = docs/tech-current-affairs
	url = https://github.com/kintsugi-programmer/tech-current-affairs
[submodule "docs/system-design"]
	path = docs/system-design
	url = https://github.com/kintsugi-programmer/kintsugi-stack-system-design
